# Environment files
.env
backend/.env
frontend/.env
*.env

# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Build files
dist/
frontend/dist/
backend/dist/

# Python cache
backend/_pycache_/

# Capacitor Android build
android/